@model IEnumerable<Pogoda.Models.PogodaData>


@{
    Layout = null;
    ViewData["Title"] = "Pogoda";
}
<!DOCTYPE HTML>
<html>
<head>
    <title> Pogoda </title>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel = "stylesheet" type="text/css" href = "/css/fap.css" runat="server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> 

<body>

   
<div class="container-fluid with-padding">

    <div class="row tlo">
        <h1 class="text-center" > AUTOR: Mirosław Kowalski</h1>
        <br>
    </div>

    <div class="row tlo">
        <div id="pogoda_naa_dzis" class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 margin_dashboard">
        <form class="form-horizontal jasne" method="post" asp-action="pogoda">

            <div class="form-group specjalna_czcionka">
                <div class="col-xs-12 text-center">
                    <br><span class="" ><h3>Pogoda na Dziś</h3></span><hr class="style1"> <br><br>
                </div>
                <div class="form-group ">
                        <label class="col-xs-6 col-xs-offset-3" id="freeLabel" for="place"> Miejscowość </label>
                        <div  class="col-xs-6 col-xs-offset-3"><input class="form-control"  placeholder="nazwa szukanej miejscowości" value="" id="place" name="city.place" type="text" maxlength="120">
                    </div>
                    <div class="col-xs-2  col-xs-offset-0"><input class="form-control"  placeholder="country code" value="" id="countryCode" name="city.countryCode" type="text" maxlength="20">
                    </div>
    <!--
                        <div class="checkbox checkbox-info">
                            <input id="chkTablet" type="checkbox" checked="">
                            <label id="tabletLabel" for="chkTablet">
                                Tablet
                            </label>
                        </div>
    -->
                    <div class="col-xs-9 col-xs-offset-10 ">
                        <br>
                        <button class="btn btn-logi" data-loading-text="Szuka..." value="Szukaj" id="btSearch" type="submit">Szukaj</button>
                    </div>
                </div>
            </div>
            </form>
            </div>
        </div>
        @{int j = 0;}
        @if(Model != null) {

        
        @foreach (Pogoda.Models.PogodaData pd in Model)
        {
            @if(j++ == 0) 
            {
               <div class="row tlo">
                    <div id="current_weather" class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 ">
                        <div class="panel panel-pogoda col-xs-6 col-xs-offset-3" id="pogoda_na_dzis">
                            <div class="panel-heading-pogoda" id="miasto">@ViewBag.City </div>
                            <div class="panel-body text-center">
                                <img src=@pd.img alt="ASP.NET" class="tlo">
                                <p>@pd.mainWeather</p> 
                                <p>@pd.temp_max [°C]</p> 
                                <p>@pd.temp_min [°C]</p> 
                                <p>@pd.pressure [hPa]</p>  
                                <p>@pd.humidity [%] </p>
                                <p>wschód słońca: @pd.sunRise.ToString("HH:mm:ss")</p> 
                                <p>zachód słońca @pd.sunSet.ToString("HH:mm:ss")</p>                    
                                <p>pomiar z: @pd.czas</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div id="prognoza" class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 margin_dashboard ">
                
            <table id="prog_tab">
                <tr>
                    <th colspan="6">
                        <h3>PROGNOZA</h3>
                    </th>
                </tr>
                <tr><th>pogoda</th><th>godzina</th><th>temp. max [°C]</th><th>temp. min [°C]</th><th>ciśnienie</th><th>wilgotność</th></tr>
                
                    @{int i = 0;}
                    @foreach (Pogoda.Models.PogodaData pd in Model)
                    {
                        @if(i++ != 0) 
                        {
                            <tr><td><img src=@pd.img alt="ASP.NET"></td><td>@pd.czas.ToString("HH:mm")</td><td>@pd.temp_max</td><td>@pd.temp_min</td><td>@pd.pressure</td><td>@pd.humidity</td></tr>
                        }
                    }
                }
<!--                
                <tr><td><img src="~/img/snieg.png" alt="ASP.NET"></td><td>12:00</td><td>3</td><td>0</td><td>1020</td><td>80%</td></tr>
                <tr><td><img src="~/img/deszcz.png" alt="ASP.NET"></td><td>15:00</td><td>1</td><td>3</td><td>1021</td><td>80%</td></tr>
                <tr><td><img src="~/img/zachmurzenie_lekkie.png" alt="ASP.NET"></td><td>18:00</td><td>2</td><td>0</td><td>1020</td><td>80%</td></tr>
-->                
            
            </table>
        </div>
}
        
    </div>
</body>
</html>
